header {
  background: url(images/to-do.jpg) center / cover;
  height: 800px;
  justify-content: center;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
}

h1 {
  padding-top: 300px;
}

form {
  padding-top: 50px;
}
